    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>


    <div class="ui-card">
        <img src="{{TravelingData.image}}">
        <p *ngIf="TravelingData.visited" class="visited-badge">Visited</p>
        <div class="description">
            <h3>{{TravelingData.name}}</h3>
            <p>{{TravelingData.description}}</p>
            <!-- <a href="#">
              <button (click)="Describe()">Read More</button>
            </a>  -->
            <button class="seemoreButton" (click)="Describe()" mat-flat-button color="primary">See More</button>

              <button (click)="delete()" class="example-button-container" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>delete</mat-icon>
              </button>

              <button (click)="onEdit()" class="example-button-container1" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>edit</mat-icon>
              </button>

              <button  class="example-button-container2" mat-icon-button (click)="toggleFavorite()" [color]="TravelingData.favourite ? 'warn' : 'white'" aria-label="Example icon button with a home icon">
                <mat-icon>favorite</mat-icon>
              </button>
              <!-- <h1>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h1> -->
        </div>
    </div>

