<div>
  <div class="imageStyling">
    <img src="{{ TravelingData.image }}" alt="" />
    <h1>{{ TravelingData.name }}</h1>
  </div>
  <div class="textcontainer">
    <!-- <h1>{{TravelingData.description}}</h1> -->
  </div>
  <div class="outerContainer">
        <div class="textcontainer1">
        <div class="innerContainer">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="room"></mat-icon>
            <p>{{ TravelingData.location }}</p>
        </div>
        <p>{{ TravelingData.description }}</p>
        <p>{{ TravelingData.activities }}</p>
        </div>
        <div>
            <iframe width="500" height="300" [src]=TravelingData.video title="Visitez la Tour Eiffel en réalité virtuelle à 360°" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
  </div>
</div>
