.imageStyling img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 30rem;
    object-fit: cover;
    margin-top: 2rem;
    object-position: left;
}

.imageStyling h1{
    font-weight: bold;
    font-size: 3rem;
    color: rgb(255, 239, 239);
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textcontainer1{
    border-right: 0.25rem solid green;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 10rem 20rem;
}

.flextingthedata{
    display: flex;
    margin-top: 3rem;
    place-content: center;
    gap: 2rem;
}

.innerdata1{
    border-right: 0.30rem solid green;
    height: 15rem;
    padding: 3rem;

}

.icons1, .icons2, .icons3, .icons4, .icons5{
    display: flex;
    gap: 1rem;
    align-items: stretch;
    margin-bottom: 1rem;
}

.video1{
    margin-top: 2rem;
}

.icons2 p{
    color: rgb(180, 178, 178);
}
