h1{
    font-size: 2rem;
    font-weight: 800;
    font-family: sans-serif;
    color: #4a34a3;
    margin: 0 auto;
  }
 
.icon-background .example-form {
    min-width: 450px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    transform: translateY(1rem);
  }
  
  .icon-background .example-full-width {
    width: 100%;
  }

  .icon-background{
    margin: 0;
    display: grid;
    min-height: 40vh;
    place-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    align-items: center;
    margin-left: 5rem;
  }
  
  .container{
    margin-left: 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10rem;
  }

  body{
    background-image: url("https://img.freepik.com/premium-vector/man-traveler-walking-city-carry-suitcase_80802-371.jpg?size=626&ext=jpg&ga=GA1.1.148687861.1695457790&semt=ais");
    background-repeat: no-repeat;
    align-items: center;
    background-size: contain;
    
  }
